body {
  font-family: Arial, sans-serif;
  background-color: #faf6ee;
  margin: 0;
  padding: 20px;
}

.main {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

